<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>SNS Login</title>
</head>
<body>
<div class="SnsLogin">
    <div class="SNS">
        <div class="google"></div>
        <div class="kakao"></div>
        <div class="naver"></div>
    </div>
    <span class="SnsLoginText">SNS LogIn</span>
    <div class="Nav">
        <div class="Navbar"></div>
        <div class="Logo">
            <span class="LogoText">Hy-care</span>
        </div>
        <div class="menuBar">
            <span class="Home">홈</span>
            <span class="Chat">채팅상담</span>
            <span class="Stt">화상상담</span>
            <span class="Guide">가이드</span>
            <span class="Self">자가진단</span>
        </div>
    </div>
</div>
</body>
</html>