* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.doctorDetail {
  width: 100%;
  height: 795px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.navBar {
  width: 100%;
  height: 93px;
  background: url("../images/v19_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_96 {
  width: 100%;
  height: 93px;
  background: rgba(50,205,50,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.memberName {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 33px;
  left: 1334px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.logo {
  width: 182px;
  height: 47px;
  background: url("../images/v19_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 128px;
  overflow: hidden;
}
.logoText {
  width: 182px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.menu {
  width: 596px;
  height: 31px;
  background: url("../images/v19_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 494px;
  overflow: hidden;
}
.home {
  width: 23px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.chat {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 373px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.stt {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 507px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.guide {
  width: 67px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 103px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.self {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 227px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.detail {
  width: 48px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 59px;
}
.detailText {
  width: 993px;
  height: 628px;
  /*background: url("../images/v23_484.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 199px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.digSumBox {
  width: 991px;
  height: 132px;
  /*background: url("../images/v23_481.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 496px;
  left: 2px;
  overflow: hidden;
}
.diagSum {
  width: 886px;
  height: 132px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 105px;
  border: 1px solid rgba(171,174,176,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.diagSumText {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.sttBox {
  width: 991px;
  height: 132px;
  /*background: url("../images/v23_478.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 348px;
  left: 2px;
  overflow: hidden;
}
.stt {
  width: 886px;
  height: 132px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 105px;
  border: 1px solid rgba(171,174,176,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.sttText {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.chatBox {
  width: 991px;
  height: 132px;
  /*background: url("../images/v23_475.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 1px;
  overflow: hidden;
}
.chat {
  width: 886px;
  height: 132px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 105px;
  border: 1px solid rgba(171,174,176,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.chatText {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 41px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.selfBox {
  width: 992px;
  height: 132px;
  /*background: url("../images/v23_519.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  overflow: hidden;
}
.self {
  width: 886px;
  height: 132px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 106px;
  border: 1px solid rgba(171,174,176,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.selfText {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.diagDateBox {
  width: 296px;
  height: 33px;
  background: url("../images/v23_468.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 695px;
  overflow: hidden;
}
.diagDate {
  width: 197px;
  height: 33px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  border: 1px solid rgba(171,174,176,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.diagDateText {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.phoneNumBox {
  width: 294px;
  height: 33px;
  background: url("../images/v23_465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 353px;
  overflow: hidden;
}
.phoneNum {
  width: 197px;
  height: 33px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 97px;
  border: 1px solid rgba(171,174,176,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.phoneNumText {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.nameBox {
  width: 277px;
  height: 33px;
  /*background: url("../images/v23_462.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 27px;
  overflow: hidden;
}
.name {
  width: 197px;
  height: 33px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  border: 1px solid rgba(171,174,176,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.nameText {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.doctorExport {
  width: 191px;
  height: 50px;
  /*background: url("../images/v56_608.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 492px;
  left: 985px;
  overflow: hidden;
}
.exportBtn {
  width: 191px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(124,252,0,1);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
