<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
<div class="logIn">
    <div class="nav">
        <div class="v12_41"></div>
        <div class="logo">
            <span class="logoText">Hy-care</span>
        </div>
        <div class="menu">
            <span class="home">홈</span>
            <span class="chat">채팅상담</span>
            <span class="stt">화상상담</span>
            <span class="guide">가이드</span>
            <span class="self">자가진단</span>
        </div>
    </div>
    <div class="loginP">
        <div class="doctor">
            <span class="doctorLoginText">의사로 로그인하기</span>
            <div class="doctorImage"></div>
        </div>
        <div class="patient">
            <span class="patientLoginText">환자로 로그인하기</span>
            <div class="patientImage"></div>
        </div>
    </div>
</div>
</body>
</html>