<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Doctor Detail</title>
</head>
<body>
<div class="doctorDetail">
    <div class="navBar">
        <div class="v19_96"></div>
        <span class="memberName">000님</span>
        <div class="logo">
            <span class="logoText">Hy-care</span>
        </div>
        <div class="menu">
            <span class="home">홈</span>
            <span class="chat">채팅상담</span>
            <span class="stt">화상상담</span>
            <span class="guide">가이드</span>
            <span class="self">자가진단</span>
        </div>
    </div>
    <div class="detail"></div>
    <div class="detailText">
        <div class="nameBox">
            <span class="nameText">이름</span>
            <div class="name"></div>
        </div>
        <div class="phoneNumBox">
            <span class="phoneNumText">전화번호</span>
            <div class="phoneNum"></div>
        </div>
        <div class="diagDateBox">
            <span class="diagDateText">진료 일자</span>
            <div class="diagDate"></div>
        </div>
        <div class="selfBox">
            <span class="selfText">자가진단</span>
            <div class="self"></div>
        </div>
        <div class="chatBox">
            <span class="chatText">ChatGPT 상담</span>
            <div class="chat"></div>
        </div>
        <div class="sttBox">
            <span class="sttText">화상 상담</span>
            <div class="stt"></div>
        </div>
        <div class="digSumBox">
            <span class="diagSumText">진료 내용요약</span>
            <div class="diagSum"></div>
        </div>
    </div>
    <div class="doctorExport">
        <button class="exportBtn">전문보기</button>
    </div>
</div>
</body>
</html>